.header {
	background-color: #EAEAE4;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.56);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1000;
	.headerItems {
		height: 40px;
		display: flex;
		align-items: center;		
	}
	.headerItemsLeft {
		float: left;
	}
	.headerItemsRight {
		float: right;
	}
	.headerLogo {
		height: 40px;
		padding: 5px 0px;
	}
	.homeLogo {
		height: 150px;
	}
	.avatar-button.pt-button.pt-large {
		padding: 0px 5px;
	}
	.lens-dropdown {
		margin-left: 30px;
	}

}

.pt-menu-item.helper {
	background-color: rgba(181, 181, 181, 0.3) !important;
	cursor: default !important;
	padding: 10px 7px;
	margin-bottom: 15px;
	a {
		text-decoration: underline;
	}
}

@media only screen and (max-width: 45em) {  /* 720px */
	.header {
		.lens-dropdown {
			margin-left: 20px;
			span {
				display: none;
			}
			span.pt-icon-standard {
				display: inline-block;
				margin-left: 0px;
			}
		}	
	}
	
}

@media print {
	.header {
		display: none;
	}
}