.signup {
	.container {
		padding-top: 20px;
	}
	form {
		margin-top: 40px;
		font-size: 1.25em;
	}
	.checkbox-wrapper {
		margin: -10px 0em 20px;
		.pt-checkbox {
			display: inline-block;
			margin-bottom: 0;
			vertical-align: middle;
		}
		a {
			text-decoration: underline;
		}
		font-size: 0.85em;
	}
	.success p {
		font-size: 1em;
		line-height: 1.5;
		margin: 0px;
	}
	.switch-message {
		margin: 25px 0em;
		opacity: 0.8;
		display: block;
	}
}