.avatar {
	background-color: #767676; 
	color: white;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 2px solid white;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	font-weight: bold;
	vertical-align: middle;
	user-select: none;
	&.endorsed {
		box-shadow: 0px 0px 8px 4px #E29E25;
	}
}