.book {
    max-width: 100vw;
    overflow: hidden;
    .book-wrapper {
		overflow: hidden;
		overflow-y: scroll;
		width: calc(100vw + 50px);
		padding-right: 50px;
		max-height: calc(100vh - 56px);
		img {
			max-width: 100%;
		}
	}

	.book-content {
		
		max-width: 700px;
		padding: 0px 2vw;
		margin: 0 auto;
		
		// overflow-y: scroll;

		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-moz-font-feature-settings: "liga" on;
		// & *:first-child {
		// 	margin-top: 0px;
		// }
		h1 {
			padding-top: 3em;
		}
		h2, h3 {
			margin-top: 56px;
			// margin-bottom: -25px;
		}
		.p, p, li {
			font-family: Georgia, Cambria, "Times New Roman", Times, serif; 
			letter-spacing: .01rem;
			font-weight: 400;
			font-style: normal;
			font-size: 21px;
			line-height: 1.58;
			letter-spacing: -.003em;
			margin-top: 38px; 
			position: relative;
			// .side {
			// 	opacity: 0;
			// 	position: absolute;
			// 	left: -120px;
			// 	top: 0px;
			// 	transition: .2s linear opacity;
			// 	font-family: sans-serif;
			// 	font-size: 14px;
			// }
			// &:hover {
			// 	.side {
			// 		opacity: 0.75;	
					
			// 	}
			// }
			&:hover {
				.discussions .key.add {
					opacity: 1;
				}
			}
		}
		pre {
			white-space: pre-wrap;
			background: rgba(0,0,0,.05);
			padding: 20px;
			box-shadow: none;
			font-size: 16px;
		}
		img {
			max-width: 100%;
			margin-top: 38px;
		}

		ul, ol {
			padding-left: 21px;
			margin-top: 38px;
		}
		li {
			margin: 0;
		    margin-bottom: .65em;
		}
		blockquote {
			border-left: 2px solid rgba(0, 0, 0, 0.15);
			margin: 0em;
			padding: 1em;
		}
		.highlight-menu .popover-wrapper {
			 left: -40px !important;
		    right: auto !important;
		}
		.highlight-background.permanent {
			background-color: #F2E7DA !important;
		}
	}
}


@media print {
	.book {
	    overflow: visible;
	    .book-wrapper {
			overflow: visible;
			max-height: none;
			width: auto;
			padding: 0;
		}
		.book-content {
			max-width: none;
			padding: 0;
			h1 {
				page-break-before: always;
			}
		}
	}
}